@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

* {
	font-family: 'Trispace', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	quotes: '“' '”';
	color: #d4ede4;
	letter-spacing: -0.022em;
	line-height: 1.4705882353;
}
h1 {
	font-size: 2.5rem;
}
p {
	font-size: 0.9rem;
}
aside {
	font-size: 0.9rem;
}
